<include file="Public:header"/>
<!-- 引入图片上传插件 -->
	<script src="__PUBLIC__/js/uploadify/jquery.uploadify.min.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/js/uploadify/uploadify.css">
	
</head>
<body>
	<include file="Public:nav"/>

	<div id="right">
		<include file="Public:right_top" />
		<div id="content">
			<form action="{:U('do_editLink')}" class="form-horizontal" id="do_editLink" method="post">
			<p style="font-size:15px;"><span class="glyphicon glyphicon-retweet"></span>　编辑链接</p>
			<hr>
				<input type="hidden" id="id" value="{$detail.id}">
				<div class="form-group">
						<label for="" class="col-md-2 control-label">名称</label>
						<div class="col-md-7">
							<input type="text" name="name" class="form-control" id="name" value="{$detail.name}">
						</div>
						
				</div>
				<hr>
				<div class="form-group">
						<label for="" class="col-md-2 control-label">域名</label>
						<div class="col-md-7">
							<input type="text" name="url" class="form-control" id="url" value="{$detail.url}">
						</div>
						
				</div>
				<hr>
				<div class="form-group">
					<label for="" class="col-md-2 control-label">是否显示</label>
					<div class="col-md-7">
						<input type="radio" value="0"  name="status" <eq name="detail.status" value="0">checked="checked"</eq>>隐藏
						<input type="radio" value="1" name="status" <eq name="detail.status" value="1">checked="checked"</eq>>显示
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label for="" class="col-md-2 control-label">排序</label>
					<div class="col-md-7">
						<input type="text" name="orderby" id="orderby" class="form-control" value="{$detail.orderby}">
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label for="" class="col-md-2 control-label"></label>
					<div class="col-md-7">
						<button class="btn btn-success" id="btn_save">保存内容</button>
						<a class="btn btn-danger" href="{:U(link_list)}">取消</a>
					</div>
				</div>

			</form>
		</div>
	</div>

		<script>
			$(function(){
				$('#btn_save').click(function(){
					$.ajax({
					type:'post',
					url:"{:U('do_editLink')}",
					beforeSend:checkForm,
					data:{
						id:$('#id').val(),
						name:$('#name').val(),
						
						url:$('#url').val(),
						status:$("input[name='status']:checked").val(),
						orderby:$('#orderby').val(),
					
					},
					dataType:'json',

					success:complete,
					});
					return false;

					function checkForm(){
						if (''==$.trim($('#name').val())) {

							layer.alert('名称不能为空',{icon:6},function(index){
								layer.close(index);
								$('#name').focus;
							})
							return false;
						}
						
						if (''==$.trim($('#url').val())) {
							layer.alert('域名不能为空',{icon:6},function(index){
								layer.close(index);
								$('#url').focus;
							})
							return false;
						}
						
						
					}
					function complete(data){
						//alert(data);
						if (data.status==1) {
							
							//window.localtion.href=data.url;
							layer.alert(data.info,{icon:6},function(index){

								layer.close(index);
								window.location.href=data.url;
							
							});
						}else{
							layer.alert(data.info,{icon:2},function(index){

								layer.close(index);
								
							});
							return false;
						}
					}
				});
			});
		</script>
		
		
		

</body>
	

