<include file="Public:header" />
<style>
	.about{
		text-indent: 30px;
		font-size: 18px;
		/*line-height: 25px;*/
		letter-spacing: 3px;
	}
</style>
	<div id="main">
	<div class="visible-xs" style="height:48px"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="container-fluid">
						
							
						<div class="row" style="margin-top:40px;">
							
							<h4 style="color:green">关于我</h4>
							<hr id="hr">
							<p class="about">本博客历时近1个月,从无到有,每句代码都是自己一个人敲出来的。</p>
							<p class="about">通过这次建站经历，自己深深体会到：程序猿（媛）没有不会的语言，只有还没学习的语言。因为在建站的过程中，学了很多东西。比如：bootstrap,ajax等。</p>
							<p class="about">本博客主要用于分享技术经验，自己学习总结，博友经验交流，欢迎大家相互申请友链。</p>
							<p class="about">最后简单介绍一下自己：本人是峨眉山脚下的一名小学生，终日与山涧溪流为邻，飞鸟野猴做伴。（手动emoji[笑哭]）。专业为计算机科学与技术，自己方向为web安全和开发。希望有大师能够收了在下。（手动滑稽）</p>

							<p class="about">本网站是个小网站啊，经不起表哥们的ddos攻击啊，表哥们手下留情。。。欢迎表哥们挖洞，做渗透测试。（希望能把洞提交给表弟我修复。。。）。</p>

							<p class="about">最后的最后，感谢开源的 轮回博客 ，自己在开发过程中大部分设计都是参照该博客的。（但是代码都是自己重构的，没有照搬源码）。</p>

							<hr id="hr">
							<h4 style="color:green">关于博客</h4>
							<hr id="hr">
							<p class="about">
								博客域名：www.moonq.com.cn

							</p>
							<p class="about">
								创建时间：2016年10月

							</p>
							<p class="about">
								博客前端：采用[bootstrap 3]响应式布局 移动端适应。

							</p>
							<p class="about">
								博客后端：采用[Thinkphp 3.2.3] 开源框架 + 采用AJAX方式提交数据。
								
							</p>
							





				
						</div>
							
						
						
											
					</div>

				</div>
				<include file="Public:right" />		
			</div>			
		</div>
		<include file="Public:footer" />
	</div>
</body>
</html>
