<include file="Public:header" />
	<div id="main">
		<div class="container">
		<div class="visible-xs" style="height:48px"></div>
	
		<div class="row">
				<div class="col-md-8 col-lg-8">
					<div class="container-fluid">
						
						

					</div>
					<div class="a_right">
						
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<center>
									<div class="a_title">
										<h3><strong>{$article["title"]}</strong></h3>
									</div>
									<div class="a_info" style="border:1px dashed #333;margin-bottom:20px;">
										<p style="margin:0;padding:5px;">作者: {$article["writer"]} 时间: {$article["create_time"]|date=("Y-m-d"),###} 点击量: {$article["count"]}</p>
									</div>
								</center>
								
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="a_content">
									{$article["content"]}
								</div>
							</div>
						</div>
					
					</div>

				</div>			
				<include file="Public:right" />	
			</div>

			
		</div>
		

		<include file="Public:footer" />
		
		
	</div>

</body>
</html>
