<div class="footer row" id="footer">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<ul class="list-inline">

			<li><a href="{:U('Index/index')}" target="_blank">网站首页</a></li>
			<li><a href="{:U('Feedback/index')}" target="_blank">留言反馈</a></li>
			<li><a href="{:U('About/index')}" target="_blank">关于我</a></li>
			
		</ul>
		<ul class="list-inline">
			<li><p>powered by: 木秋 | working with <a href="www.thinkphp.cn" target="_blank">Thinkphp</a>+<a href="www.bootcss.com" target="_blank">Bootstrap</a></p></li>
		</ul>
		<ul class="list-inline">
			<li><p>Copyright © 2015 - 2016 木秋博客 & 版权所有   <a href="www.miitbeian.gov.cn" target="_blank">蜀ICP备16022425号</a> | <a href="{:U('Admin/Lgin/index')}" target="_blank">博客管理</a></p></li>
		</ul>
			
	</div>
</div>
